streamlit==1.5.0
pandas
click==8
numpy
pdfplumber
wordcloud
matplotlib
spacy
string
collections
heapq
re
os
transformers==4.3.0
bert-extractive-summarizer
PyTorch==1.7.0
PIL
requests
io
urllib3
json



#pip install -r requirements.txt
#pip install --help
