streamlit
bert-extractive-summarizer
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0-py3-none-any.whl
matplotlib
numpy
pandas
pdfplumber
Pillow
regex
requests
spacy
spacy-streamlit
torch
torchvision
transformers==3.3.0
urllib3
wordcloud
